.container {
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    padding: 46px 0 15px 0;
    background-image: url(../img/background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto';
    position: relative;
}

.container-main {
    width: 1024px;
    margin-left: 164px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
}

.logo {
    width: 47px;
    height: 53px;
    margin-right: 10px;
    opacity: 0;
}

h1 {
    font-size: 29px;
    font-weight: 700;
    color: #FFFFFF;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
}

.header-contacts {
    display: inline-block;
    text-align: right;
}

.mail {
    display: block;
    margin: 0px 0px 20px 0px;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF
}

.phone {
    display: block;
    margin: 0px 0px 20px 0px;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF
}

/*---header hover---*/

.header-logo {
    background: url(../img/logo.png) 0 0 no-repeat;
    width: max-content;
    height: max-content;
}

.header-logo:hover {
    background: url(../img/logo\ 2.png) 0 0 no-repeat;
}

.header-logo:hover .header-title {
    color: #F26522;
}

.header-logo:hover .header-text {
    color: #F26522;
}

.mail:hover {
    color: #F26522;
}

.phone:hover {
    color: #F26522;
}

/*---header hover---*/

.main {
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 62px;
}

.product-name {
    display: block;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    color: #FFFFFF;
}

.product-item {
    position: relative;
}

/*---main hover---*/

.product-item:hover a {
    color: #F26522;
}

.hover-block {
    display: none;
    background-color: #F26522;
    margin-left: 4px;
    margin-bottom: 48px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFFFFF;
}

.hover-block p {
    display: block;
}

.hover-block::before,
.hover-block::after {
content: " ";
display: flex;
}

.product-item:hover .hover-block {
    display: block;
    padding: 8px 15px 12px 15px;
}

.text {
    font-size: 10px;
    font-weight: 400;
    color: #FFFFFF;
}

.price {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    align-items: center;
}

.price span {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}

.price::after {
    content: url(../img/Vector.png);
    display: block;
    width: 5px;
    height: 10px;
}

.hover-block-bottom {
    display: none;
    background-color: #F26522;
    color: #FFFFFF;
    height: 55px;
    width: 295px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 39px;
}

.hover-block-bottom p {
    display: block;
}

.hover-block-bottom::before,
.hover-block-bottom::after {
    content: " ";
    display: flex;
}

.product-item:hover .hover-block-bottom {
    display: block;
    padding: 8px 15px 12px 15px;
}

/*---main hover---*/

.footer {
    display: block;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    margin-top: 49px;
}